<a href="/tryon-experiences" class="brand-logo left">Home</a>
<ul class="nav">
  <li><a href="/tryon-experiences/new">Create a new Location</a></li>
  <ul class="nav">
    <li><a href="/tryon-experiences/<%=location.id; %>/edit">Edit Location</a></li>

</ul>
