<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include ('../partials/boot.ejs') %>

  <link rel="stylesheet" href="/nav.css">
  </head>

<body>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <% if (currentUser) { %>

        <h4>Welcome <%= currentUser.username %></h4>
        <a class="navlink1" href="#">Manage Account</a>
        <a class="navlink1" href="#">Cart</a>
        <a class="navlink1" href="#">Order History</a>
        <style>
        .p-4 { height: 250px; }
        </style>
        <% } else { %>

        <style>
        .p-4 { height: 150px; }
        .navbar-toggler { display: none;}
        </style>
        <% } %>
      </div>
    </div>
    <nav class="navbar navbar-dark navvy">
      <div class="container-fluid">
        <a class=" logo" href="/tryon-experiences/home" ><img class="logo navlink" src="https://lh3.googleusercontent.com/v1wt-JG4aQGi4-pAU8BBZBRlkjuMvasdo3nxKaK--cOhSMmAsmtvNpHmBg8x449l7UwagywZWSVjtOK6L5w6Jrzpu32qqeX392W6Lifk18uiD2PnqQidGNWkNxQ3hZlNa_Vme9NbkqA=s200-p-k" alt=""></a>


        <a class="navlink" href="/"/>Locations</a>
        <a class="navlink" href="/tryon-experiences/pricing"/>Pricing</a>
        <% if (currentUser) { %>
          <form action="/sessions?_method=DELETE" method="POST">
            <input class="navlink log"  type="submit" value="Log Out" class="btn-small red" />
          </form>
          <% } else { %>
        <a class="navlink log" href="/sessions/new">Log in/Sign up</a>

        <% } %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>




</body>

</html>
