<!DOCTYPE html>
<html lang="en" dir="ltr">


  <head>
  <%- include ('../partials/head.ejs') %>
    <%- include ('../partials/boot.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">

    <title></title>
  </head>
  <body>
      <%- include ('../partials/nav.ejs') %>

      <% if (currentUser) { %>
      <h1>Welcome to Tryon Experiences:  <%= currentUser.username %></h1>
      <% } else { %>
      <h1>Welcome to Tryon Experiences</h1>
      <% } %>

      <img src="https://lh3.googleusercontent.com/4ICYG5rT3PLdlr5MKTgyr_oLjkLXC_8oHQV-vcFJYxvvMuQ4wRX2hxFDBu17KWrJw6hleVdEHHDO2E6uiotAKFNIgZsqGGAzwBjcrqA8CZlOGfzrnMkp6Bn9EPHO5krg0ykRLctHYG0=w2400" alt="">


      <h2>Explore the great PNW and</br> Try On a new Experience</h2>
      <!-- ==========CODE PIN Picture Frame========== -->
      <div class="example">
    <div class="block">
        <div class="side -main"></div>
        <div class="side -left"></div>
    </div>
    <div class="block">
        <div class="side -main"></div>
        <div class="side -left"></div>
    </div>
    <div class="block">
        <div class="side -main"></div>
        <div class="side -left"></div>
    </div>
</div>
<!-- ==========CODE PIN Social========== -->
<ul>
  <li>
    <a href="https://www.facebook.com/banu.tryon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-facebook"></span>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/banutryon/">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-instagram"></span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/tryon-experiences/">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-linkedin"></span>
    </a>
  </li>
</ul>


  </body>
</html>
