<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/nav.ejs') %>

    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/edit.css">


    <title>Tryon Experiences New Page</title>
  </head>
  <body>





    <div class="editBox">
    <h1>Create Location</h1>

    <form action="/tryon-experiences" method="POST">
          <fieldset class="editPage">
            <p>Name:</p><input type="text" name="name" placeholder="Location name"/>
            <p>ImageA:</p> <input type="text" name="imgA" placeholder="https//" />
            <p>ImageB:</p> <input type="text" name="imgB" placeholder="https//"/>
            <p>ImageC:</p> <input type="text" name="imgC" placeholder="https//"/>
            <p>HeaderA:</p> <input type="text" name="hA" placeholder="Included features header"/>
            <p>TextA:</p> <input type="text" name="textA" placeholder="Included features"/>
            <p>HeaderB:</p> <input type="text" name="hB" placeholder="Included features header"/>
            <p>TextB:</p> <input type="text" name="textB" placeholder="Included features"/>
            <p>HeaderC:</p> <input type="text" name="hC" placeholder="Included features header"/>
            <p>TextC:</p> <input type="text" name="textC" placeholder="Included features"/>
            <p>Map Img:</p> <input type="text" name="mapImg" placeholder="Included features"/>
            <p>Map Link:</p> <input type="text" name="map" placeholder="https//"/>
            <p Class="description">Description:</p><br /><textarea  name="description" rows="4" placeholder="description" ></textarea>
            <input class="Submit" type="submit" name="" value="Add"/>
          </fieldset>

        </form>
      </div>
  </body>
</html>
