:root {
  --Melon: rgba(248, 194, 145,.90);
  --dupain: rgba(96, 163, 188,.90);
  --offWhite: #f5f5f5;
  --Green: rgba(146, 159,141 ,0.50);
}
.container {
  max-width: 960px;
}
.d-block {
  border-radius: 50%;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  width: 190px;
}
.mb-3 {
  color: black;
}
.datepicker {
  text-align: center;
  margin-bottom: 40px;
}

.picker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.box {
  margin: 10px;
}
.form-select {
  width: 200px;
  align-self: auto;
}
.count {
  width: 100px;
}
@media (min-width: 900px) {
  .container {
    max-width: 1100px;
  }

  .picker {
    justify-content: space-between;
    margin: 0 60px 20px 60px
  }
  .box {
    width: 20%;
  }
}
