.name {
 color: black;
 text-shadow: 1px 2px 2px #567A58;
}
.title {
  padding-top: 20px;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: rgba(29, 109, 32, 0.85);
  background-color: rgb(255, 255, 255);
  text-shadow: rgba(79, 79, 79, 0.76) 1px 4px 5px;
  text-align: center;
  padding: 80px 20px 0 20px;
}
.h2 {
  text-decoration: none;
}
p {
  font-size: 12px;
}
body {
  background-color: #f5f5f5
  padding:0;
}

/* Image controls */
#Baker,#Blanca, #Palouse, #Crater, #Diablo, #Mt, #New, #Mount, #Oregon  {
 margin-left: 15px;
 padding: 10px;
}
#Blanca, #Crater, #New, #Mount {
  flex-direction: row-reverse;
}

img {
  height: 40vw;
  width: 80vw;


}
.image {
  height: 40vw;
  width: 80vw;
  border-radius: 2px;
  padding: 10px;
  overflow: hidden;
  margin: 0 auto;


}
.image img  {
width: 100%;
transition: 0.5s all ease-in-out;
border-radius: 2px;

}
.image:hover img {
transform: scale(1.5);
border-radius: 2px;
}

@media (min-width: 900px) {
  img {
    height: 60%;
    width: 100vw;
  }
#myCarousel {
  height: 50vw;
  background-color: red;
}
  .title {
    font-size: 50px;
    padding-top: 100px;

  }
  p {
    font-size: 22px;
  }
  .name {
    font-size: 50px;
  }
}
