/* ===========Welcome text */
.welcome, .name {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: rgba(29, 109, 32, 0.85);
  background-color: rgb(255, 255, 255);
  text-shadow: rgba(79, 79, 79, 0.76) 1px 4px 5px;
  text-align: center;
}

.welcome {
  padding-top: 80px;
}

/* Mountain pic */
img {
  margin-top: -130px;
  width: 100vw;
  height: 40%;
}

/* =====Light House and animated text===== */
.picBlock {
  background: #9BB8D8;
  background: -moz-linear-gradient(top, #9BB8D8 0%, #9BB8D8 75%, #FFFFFF 100%);
  background: -webkit-linear-gradient(top, #9BB8D8 0%, #9BB8D8 75%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #9BB8D8 0%, #9BB8D8 75%, #FFFFFF 100%);
  margin-top: 20px;
  padding: 70px;
  height: 400px;
}

.lighthouse {
  margin-top: -140px;
  margin-bottom: 20px;
  height: 40%;
  width: 100vw;
}

/* =========CodePen============= */
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

.statement {
  text-align: center;
  font-size: 16px;
  margin-top: spx;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 12s linear infinite;
}

.top {
  margin-right: 50px;
  margin-top: -30px;
}

.bottom {}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}

.video {
  display: block;
  width: 100vw;
  margin: 20px auto 10px auto;
}

iframe {
  width: 100vw;
  height: 50vw;
}

/* ========Media============== */
@media (min-width: 900px) {

  /* ========header========= */
  .welcome, .name {
    font-size: 40px;
  }
  .name {
    margin-bottom: 40px;
  }

  /* ========Drone Video========= */
  .bl {
    margin-top: 40px;
  }

  /* ========lighthouse========= */
  .statement {
    font-size: 280%;
    margin-left: -20%;
  }

  .top {
    margin-top: 90px;
    margin-bottom: 20px;
  }

  .bottom {
    padding-left: 40%;
    margin-top: 10px;
  }

  .picBlock {
    margin-top: 40px;
    padding: .05px;
    height: 400px;
  }

  .lighthouse {
    margin-top: -380px;
    margin-bottom: 40px;
    height: 900px;
  }
