
.navlink:hover{
  color: lightgreen;
}
.navlink {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  color: white;
  font-size: 14px;
}
a {
  width: auto;
}


h4 {
  color: white;
  padding: 5px;
  text-align: center;
}

.p-4 {
  display: flex;
  flex-direction: column;
  background-image: url("https://lh3.googleusercontent.com/lu0Ng5B5d8wI1Tbh5D4dWb9OSveiRMqNl40S4nmfY18nXS1cuDE5O_hYa9FpStYuNMlMZkkXBOoj6m7LT12zX2G4zV2IUqYwBdIHY0V489OS0h1b-Po5Dh2oFzripPtK3M9QB5V5hk4=w2400");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;

}

@media (min-width: 768px) {
  .navlink {
    font-size: 20px;
  }
}
