:root {
  --Melon: rgba(248, 194, 145,.90);
  --dupain: rgba(96, 163, 188,.90);
  --offWhite: #f5f5f5;
  --Green: rgba(146, 159,141 ,0.50);
}

.container {
  margin-top: 30px;
  max-width: 940px;
}

.pricing-header {
  max-width: 700px;
}
.my-0 {
  color: var(--offWhite);
}
body {
  background-image: url("https://lh3.googleusercontent.com/Z2G_QKBeIFTeDvTUaTJlnGAap69dHgNhFtp_cW99lHb3bX5zj3SGGc3c8u8c68tkdH-NHfGz6lSaWUlLdlP9tMjlSPaRMgaAioFM46qO9GXwz7ByTsfJyqlmFzYWEpRvgYc7t4nUvF8=w2400");
  background-size: auto;
  background-repeat: no-repeat;

}
.lead {
  color:var(--offWhite)
}
.display-4 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: var(--offWhite);
  text-shadow: rgba(79, 79, 79, 0.76) 1px 4px 5px;
  text-align: center;
}
.card-body, .boxA {
  background-color: var(--Green);
}
.btn-outline-primary:hover .btn:hover .btn-lg:hover {
  color:var(--dupain);
}
.card-body {
  margin-bottom: 70px;
}
/* ========Media============== */
@media (min-width: 900px) {
  body {
      background-size: cover;
  }


}
