.map {
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 8px 11px 13px 5px rgba(146, 159,141 ,0.79);
  box-shadow: 8px 11px 13px 5px rgba(146, 159,141 ,0.79);

}
.map img {
  width: 180px;
  height: 180px;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  color: white;
}
label {
  width: 500px;
  margin: 0 20px;
}
.bottomBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
#description {
  text-align: left;
}

.box2 {
  background-color: rgba(81, 126, 36, .5);
  box-shadow: 0px 7px 5px 0px rgba(146, 159,141 ,0.49);
  padding: 0;
}
.wordBox {
  height: 220px;
}

.headText {
  color: black;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  margin-top: 25px;
}
p, .headText, .pText, label {
  color:black;
}
.pText {
  font-size: 1rem;
  color: black;
  text-align: center;
}
.carousel-caption {
  height: 220px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========Media============== */
@media (min-width: 900px) {
  .box1 {
    width: 100vw;
  }

  .map {
    text-align: center;
    margin-left: 200px;
  }
  .map img {
    box-shadow: 0px 7px 5px 0px rgba(146, 159,141 ,0.49);
    width: 220px;
    height: 220px;
    cursor: pointer;
  }
  label {
    text-align: left;
    margin-left: 100px;
    padding-left: 30px;
  }


}
