
<!doctype html>
<html lang="en">

<head>
  <%- include ('../partials/user_session.ejs') %>

</head>

<body class="text-center">

  <main class="form-signin">
    <form action="/users" method="POST">
      <img class="mb-4" src="https://lh3.googleusercontent.com/ovqZZlz9tdC42ti7bZJpDmkZ_ABa6VtOrMi6rhCpnjdDkga3oSJaCL1DUHVtOPtLRgCU0yPRkyPv0ds5GwsjVu6yEa81f8a27Vy7ivznilDITIjikcyKho0_vknTEkCwLLvdyY01vBI=w2400" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please create account</h1>
      <label for="name"></label>
      <input type="text" class="form-control" placeholder="username" name="username" required />
      <label for="password"></label>
      <input type="password" class="form-control" placeholder="Password" name="password" />
      <br>

      <input class="w-100 btn btn-lg btn-primary" type="submit" value="Submit">
    </form>
    <a href="/tryon-experiences">Cancel</a>
    <p class="mt-5 mb-3 text-muted">&copy; 1983-2020</p>

  </main>

</body>

</html>
